/* Impostazione di lavoro */

/* FONT */
* {
      font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5,.h1, .h2, .h3, .h4 {
    font-family: "Quicksand", sans-serif;  
}

/* COLORI */

:root{
    --red-primary: rgb(234, 36, 51);
    --yellow-primary: rgb(246, 186, 66);
    --dark: rgb(103, 93, 102);
    --light: rgb(234, 238, 237);
    --blue-pastel: rgb(150, 200, 230);
}

body{
margin: 0;
background-color: var(--blue-pastel);
color: var(--dark);
}

/* header{
    mar
} */

.header {
background: var(--red-primary);
color: white;
padding: 20px;
text-align: center;
}

.text-blue  {
    color: var(--blue-pastel);
}

.text-red  {
    color: var(--red-primary);
}

.text-yellow  {
    color: var(--yellow-primary);
}

.text-dark  {
    color: var(--dark);
}

.text-light {
    color: var(--light);
}

.bg-dark {
    background-color: var(--dark);
}

.bg-light {
    background-color: var(--light);
}

.bg-red {
    background-color: var(--red-primary);
}

.bg-yellow {
    background-color: var(--yellow-primary);
}

.bg-blue {
    background-color: var(--blue-pastel);
}

/* NAVBAR CUSTOM */
.navbar-custom {
position: fixed;
top: 20px;
left: 50%;
transform: translateX(-50%);
width: 90%;
height: 120px;
max-width: 1200px;
background: linear-gradient(to right, var(--yellow-primary), var(--red-primary));
border-radius: 20px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
padding: 10px 20px;
z-index: 1000;
}

.navbar-custom .nav-link {
    font-size: 1.25rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.navbar-custom .nav-link.hover-underline:hover {
    color: var(--blue-pastel);
    text-decoration: underline var(--blue-pastel);
}

.navbar-custom img {
    height: 110px;
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.navbar-custom img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px var(--blue-pastel), 0 0 30px var(--blue-pastel);
}

/* ICONE */
.navbar-icons .nav-icon {
    color: var(--dark);
    font-size: 1.5rem;
    transition: color 0.3s, transform 0.3s;
}

.navbar-icons .nav-icon:hover {
    color: var(--blue-pastel);
    transform: scale(1.2);
}

/* search Opern Source */
.InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 170px;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
}

.labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.searchIcon {
  width: 13px;
}

.border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.micIcon {
  width: 12px;
}

.micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.searchIcon path {
  fill: rgb(114, 114, 114);
}

.micIcon path {
  fill: rgb(255, 81, 0);
}

.micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}

/* NAVBAR trasparenza */
.navbar-transparent {
    background: linear-gradient(to right, rgba(246, 186, 66, 0.7), rgba(234, 36, 51, 0.7));
    backdrop-filter: blur(8px);
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.navbar-solid {
    background: linear-gradient(to right, var(--yellow-primary), var(--red-primary));
    transition: background 0.3s ease, backdrop-filter 0.3s ease;
}


/* HEADER */

.lead   {
    font-weight: 600;
}

/* search Opern Source header*/
.container2 {
    display: flex;        
    justify-content: center; 
    gap: 0;              
    margin-top: 15px;
    align-items: stretch; 
    max-width: 250px;    
}

.input2 {
    flex: 1;               
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    background-color: rgba(150, 200, 230, 0.5);; 
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    outline: none;
    transition: all 0.2s ease;
}

.input2:hover {
    border: 2px solid rgba(255, 255, 255, 0.16);
}

.search__btn2 {
    width: 40px;             
    background-color: rgba(42, 42, 45, 0.5);
    border: none;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;     
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search__btn2:hover {
    background-color: rgba(54, 54, 56, 1);
}

.search__btn2 svg {
    display: block;  
}

